*.a
*.d
*.o
*.so
*.ts
*.mo

.Rhistory
R/autom4te.cache/*

R/doc/*/*.html
R/doc/doxygen/html
R/doc/NEWS.*.rds
R/src/library/*/po/*.po~
R/src/library/*/all.R
R/src/**/Makedeps
R/src/**/Makefile
!R/src/gnuwin32/installer/Makefile
!R/src/gnuwin32/fixed/Makefile
!R/src/gnuwin32/cran/Makefile
!R/src/gnuwin32/Makefile

R/src/library/*/DESCRIPTION
R/src/library/*.inn

R/GIT-REVISION
R/Makeconf
R/Makefile
R/Makefile.bak
R/Makefrag.*
R/aclocal.m4
R/bin/
R/config.log
R/config.status
R/doc/FAQ
R/doc/Makefile
R/doc/NEWS
R/doc/NEWS.pdf
R/doc/NEWS.rds
R/doc/R.1
R/doc/RESOURCES
R/doc/*/Makefile
R/doc/manual/stamp-images-html
R/doc/manual/version.texi
R/etc/Makeconf
R/etc/Renviron
R/etc/javaconf
R/etc/ldpaths
R/include/
R/library/
R/libtool
R/m4/Makefile
R/non-tarball
R/po/Makefile
R/share/Makefile
R/src/Makefile
R/src/extra/intl/charset.alias
R/src/extra/intl/charsetalias.h
R/src/extra/intl/libgnuintl.h
R/src/include/R_ext/stamp-R
R/src/include/Rconfig.h
R/src/include/Rconfig.tsa
R/src/include/Rmath.h
R/src/include/Rmath.h0
R/src/include/Rmath.tsa
R/src/include/Rversion.h
R/src/include/Rversion.tsa
R/src/include/config.h
R/src/include/libintl.h
R/src/include/stamp-R
R/src/include/stamp-h
R/src/library/Recommended/stamp-recommended
R/src/library/stamp-docs
R/src/main/R.bin
R/src/scripts/R.fe
R/src/scripts/R.sh
R/src/scripts/Rcmd
R/src/scripts/javareconf
R/src/scripts/mkinstalldirs
R/src/scripts/pager
R/src/scripts/rtags
R/src/unix/Rscript
R/stamp-java
R/tests/Embedding/Makefile
R/tests/Examples/Makefile
R/tests/Makefile
R/tests/CXXR/Makefile
R/tests/CXXR2/Makefile
R/tools/Makefile
R/etc/Makefile
R/src/nmath/standalone/*.lo
R/src/nmath/standalone/*.cpp
R/src/nmath/standalone/check.log
R/tests/Examples/*.R
R/tests/Examples/*.R-cnt
R/tests/Examples/*.Rout
R/tests/Examples/*.Rout.prev
R/tests/Examples/*.pdf
R/tests/*.Rout
R/tests/*.pdf
R/SVN-REVISION
R/tests/PkgC_1.0-0.tar.gz
R/tests/R-intro.R
R/tests/Rprofmem.out
R/tests/base.Rcheck/
R/tests/compiler.Rcheck/
R/tests/datasets.Rcheck/
R/tests/ex.gz
R/tests/exNSS4_1.1.tar.gz
R/tests/exSexpr_1.1.tar.gz
R/tests/grDevices.Rcheck/
R/tests/graphics.Rcheck/
R/tests/grid.Rcheck/
R/tests/methods.Rcheck/
R/tests/myTst2/
R/tests/no-segfault.R
R/tests/p-r-random-tests_seed
R/tests/parallel.Rcheck/
R/tests/pkgA_1.2.tar.gz
R/tests/pkgB_1.0.tar.gz
R/tests/pkgD_2.1.2.tar.gz
R/tests/splines.Rcheck/
R/tests/stats.Rcheck/
R/tests/stats4.Rcheck/
R/tests/tcltk.Rcheck/
R/tests/tools.Rcheck/
R/tests/utils.Rcheck
R-devel/
R-frozen/
R-recommended/
R-recommended-frozen/
R/tests/*.Rcheck/
R/tests/RecPackages/*/
R/.RData
R/src/include/CXXR/stamp-R
R/tests/CXXR/CellPooltest
R/tests/CXXR/CellPooltest.out
R/tests/CXXR/MemoryBanktest
R/tests/CXXR/Allocatortest
R/tests/CXXR/GCManagertest
R/tests/CXXR/splice_test
R/tests/CXXR/GCManagertest.out
R/tests/CXXR/RObject_sizer
