*.a
*.d
*.o
*.so
*.ts


.Rhistory
R/autom4te.cache/*

R/doc/*/*.html

R/src/library/*/po/*.po~
R/src/library/*/all.R
R/src/**/Makedeps
R/src/**/Makefile
!R/src/gnuwin32/installer/Makefile
!R/src/gnuwin32/fixed/Makefile
!R/src/gnuwin32/cran/Makefile
!R/src/gnuwin32/Makefile

R/src/library/*/DESCRIPTION
R/src/library/*.inn

R/GIT-REVISION
R/Makeconf
R/Makefile
R/Makefile.bak
R/Makefrag.cc
R/Makefrag.cc_lo
R/Makefrag.cxx
R/Makefrag.m
R/aclocal.m4
R/bin/
R/config.log
R/config.status
R/doc/FAQ
R/doc/Makefile
R/doc/NEWS
R/doc/NEWS.pdf
R/doc/NEWS.rds
R/doc/R.1
R/doc/RESOURCES
R/doc/*/Makefile
R/doc/manual/stamp-images-html
R/doc/manual/version.texi
R/etc/Makeconf
R/etc/Renviron
R/etc/javaconf
R/etc/ldpaths
R/include/
R/library/
R/libtool
R/m4/Makefile
R/non-tarball
R/po/Makefile
R/share/Makefile
R/src/Makefile
R/src/extra/intl/charset.alias
R/src/extra/intl/charsetalias.h
R/src/extra/intl/libgnuintl.h
R/src/include/R_ext/stamp-R
R/src/include/Rconfig.h
R/src/include/Rconfig.tsa
R/src/include/Rmath.h
R/src/include/Rmath.h0
R/src/include/Rmath.tsa
R/src/include/Rversion.h
R/src/include/Rversion.tsa
R/src/include/config.h
R/src/include/libintl.h
R/src/include/stamp-R
R/src/include/stamp-h
R/src/library/Recommended/stamp-recommended
R/src/library/stamp-docs
R/src/main/R.bin
R/src/scripts/R.fe
R/src/scripts/R.sh
R/src/scripts/Rcmd
R/src/scripts/javareconf
R/src/scripts/mkinstalldirs
R/src/scripts/pager
R/src/scripts/rtags
R/src/unix/Rscript
R/stamp-java
R/tests/Embedding/Makefile
R/tests/Examples/Makefile
R/tests/Makefile
R/tools/Makefile
R/etc/Makefile
