*.a
*.d
*.o
*.so
*.ts


.Rhistory
autom4te.cache/*

doc/*/*.html

src/library/*/po/*.po~
src/library/*/all.R
/src/**/Makedeps
/src/**/Makefile
!src/gnuwin32/installer/Makefile
!src/gnuwin32/fixed/Makefile
!src/gnuwin32/cran/Makefile
!src/gnuwin32/Makefile

src/library/*/DESCRIPTION
src/library/*.inn

GIT-REVISION
Makeconf
Makefile
Makefile.bak
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
aclocal.m4
bin/
config.log
config.status
doc/FAQ
doc/Makefile
doc/NEWS
doc/NEWS.pdf
doc/NEWS.rds
doc/R.1
doc/RESOURCES
doc/*/Makefile
doc/manual/stamp-images-html
doc/manual/version.texi
etc/Makeconf
etc/Renviron
etc/javaconf
etc/ldpaths
include/
library/
libtool
m4/Makefile
non-tarball
po/Makefile
share/Makefile
src/Makefile
src/extra/intl/charset.alias
src/extra/intl/charsetalias.h
src/extra/intl/libgnuintl.h
src/include/R_ext/stamp-R
src/include/Rconfig.h
src/include/Rconfig.tsa
src/include/Rmath.h
src/include/Rmath.h0
src/include/Rmath.tsa
src/include/Rversion.h
src/include/Rversion.tsa
src/include/config.h
src/include/libintl.h
src/include/stamp-R
src/include/stamp-h
src/library/Recommended/stamp-recommended
src/library/stamp-docs
src/main/R.bin
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Rscript
stamp-java
